language: android
jdk: oraclejdk7

android:
  components:
    - tools
    - build-tools-23.0.2
    - android-23
    - extra-android-support
    - extra-android-m2repository

script: ./gradlew :piwik-sdk:assemble :piwik-sdk:testDebugUnitTest

after_success: ./gradlew :piwik-sdk:jacocoTestReport piwik-sdk:coveralls
