notifications:
  email: false

language: android
jdk: oraclejdk8

android:
  components:
    - tools
    - build-tools-29.0.2
    - android-28
    - extra-android-support
    - extra-android-m2repository
  licenses:
      - 'android-sdk-preview-license-.+'
      - 'android-sdk-license-.+'
      - 'google-gdk-license-.+'

before_install:
  - yes | sdkmanager "platforms;android-28"

script: ./gradlew :tracker:assemble :tracker:testDebugUnitTest

after_success:
  - ./gradlew :tracker:jacocoTestReportDebug
  - bash <(curl -s https://codecov.io/bash)